@use "../../styles/partials/colors";
@use "../../styles/partials/mixins" as *;

.warehouse-row {
  text-align: left;
  border-bottom: 2px solid colors.$secondary-color-cloud;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  @include tablet {
    flex-wrap: nowrap;
  }

  &:hover {
    background-color: adjust-color($color: colors.$primary-color-indigo, $alpha: -0.93);
  }

  &__contact-info {
    min-width: 11.0625rem;
  }

  &__contact-item {
    display: block;
  }

  &__col {
    flex: 50%;

    @include tablet {
      flex: 1;
    }

    &:last-child {
      text-align: right;
    }

    &--main {
      @include desktop {
        flex: 2;
      }
    }

    &--actions {
      display: flex;
      justify-content: space-between;
    }
  }

  &__link {
    font-weight: 600;
    color: colors.$primary-color-indigo;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__contact-item {
    color: unset;
    text-decoration: none;
  }

  &__icon {
    vertical-align: middle;
  }

  &__icon-button {
    background: none;
    border: none;
    padding: 0;
  }
}
