@use "./../../styles/partials/colors" as *;
@use "./../../styles/partials/mixins" as *;
@use "./../../styles/partials/typography" as *;

.header {
  text-align: center;
  color: $background-color-grey;
  background-color: $background-color-graphite;


  &__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: auto;
    padding: 1rem 1rem 3rem;
    width: 100%;
    max-width: 63.75rem;

    @include tablet {
      padding: 2rem 2rem 6rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    @include desktop {
      padding: 1.5rem 1.5rem 6rem;
    }
  }

  &__left {
    @include tablet {
      display: flex;
    }
  }
  &__right {
    display: flex;
    padding: 1rem 0;

    @include tablet {
      display: flex;
      padding: 0;
    }
  }
  &__button {
    border-radius: 20px;
    border: none;
    padding: 0.5rem 0;
    width: 100%;
    background-color: $background-color-graphite;
    color: $secondary-color-cloud;
    text-decoration: none;
    @include mobile__lables-buttons;

    &:active {
      background-color: $primary-color-black;
      color: $primary-color-white;
      text-decoration: none;
    }
    &:hover {
      color: $primary-color-white;
      text-decoration: underline;
      text-decoration-color: $primary-color-white;
    }
    &.active {
      color: $primary-color-white;
      background-color: $primary-color-black;
    }

    @include tablet {
      padding: 0.5rem 1.25rem;
      @include tablet__lables-buttons;
    }
  }
  &__warehouse {
    border-radius: 20px;
    border: none;
    display: flex;
    flex: 50%;

    @include tablet {
      flex: 0;
    }
  }
  &__inventory {
    border-radius: 20px;
    border: none;
    display: flex;
    flex: 50%;

    @include tablet {
      flex: 0;
      padding-right: 0;
    }
  }
}

